.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family:"Century Gothic";
}

:root {
  --primary-white: #ddd;
  --primary-orange: rgba(226, 155, 24, 0.7);
}

/***************** Navbar **********************/
.logo {
  width: 50%;
  margin-top: 5%;
  transform: rotate(-10deg);
}

nav ul li {
  text-transform: capitalize;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.087rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 8rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.002rem solid var(--primary-orange);
  /*border-radius: 5pt;
  transform: scale(1.5); */
  color: var(--primary-orange) !important;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-nav > li > a:hover {
  border-bottom: 0.002rem solid var(--primary-orange);
  /*border-radius: 5pt;
  transform: scale(1.5); */
  color: var(--primary-orange) !important;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-nav > li > a.nav-link {
  float: left;
}